@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');s


body {
  margin: 0;
  padding: 20px;
}

.app-container {
  background-color: #000000;
  box-sizing: border-box;
  margin: 0px;
  height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
